html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

body{
    color: #1B1818;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin: 0;
}

.header{
    background: rgb(13, 100, 239);
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu__list{
    display: flex;
    list-style-type: none;
}

.menu__item{
    margin: 0 15px;
}

.menu__list-link{
    color: #fefefe;
    font-size: 19px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.menu__list-link:hover{
    border-bottom: 1px solid;
}

.phone{
    color: #fefefe;
    font-size: 19px;
    line-height: 21px;
}


.top__heading{
    display: flex;
}

.top__image-slider{
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.2)), url(image/lk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.top__slider{
    min-height: 600px;
}

.top__content{
    text-align: center;
    padding-top: 80px;
    width: 35%;
}

.top__title{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin: 0 auto 20px;
    max-width: 455px;
    color: rgb(250, 246, 246);
}

.top__text{
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 50px;
    max-width: 470px;
    color: rgb(240, 235, 235);
}

.application{
    text-transform: uppercase;
    color: #fefefe;
    background: #c5ac2d;
    padding: 16px 19px 15px;
    transition: all .5s;
    border: 1px solid transparent;
}

.application:hover{
    color: #c5ac2d;
    background: #fefefe;
    border: 1px solid #c5ac2d;
}


.top__heading .slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots{
    list-style: none;
    text-align: center;
}

.slick-dots li{
    display: inline;
    padding: 0 10px;
}

.slick-dots button{
    font-size: 0;
    width: 90px;
    height: 5px;
    background-color: #dddddd;
    border: none;
    border-radius: 17%;
    padding: 0;
}

.slick-active button{
    width: 90px;
    height: 5px;
    background-color: #ffffff;
    padding-bottom: 7px;
    border-radius: 17%;
    border: none;
}


.news__name{
    text-align: center;
    font-size: 34px;
    margin-top: 70px;
    font-family: 'Fira Sans', sans-serif;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 30px;
}

.news__heading-parent{
    display: flex;
    justify-content: space-between;
}

.news__heading-parent div{
    width: 28%;
    border: 2px solid rgb(13, 100, 239);
    cursor: pointer;
    transition: all .5s;
    padding-left: 20px;
    border-top: 0;
    border-bottom: 0;
}

.news__heading-parent div:hover{
    transform: scale(1.20);
}

.news__title{
    font-family: 'Fira Sans', sans-serif;
    font-size: 23px;
    line-height: 28px;
    font-weight: 500;
    max-width: 200px;
}

.news__content{
    font-size: 19px;
    max-width: 330px;
}