html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body{
    color: #1B1818;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.header{
    background: rgb(0, 98, 255);
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu__list{
    display: flex;
    list-style-type: none;
}

.menu__item{
    margin: 0 15px;
}

.menu__list-link{
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.menu__list-link:hover{
    border-bottom: 1px solid;
}

.phone{
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
}


.top__heading{
    display: flex;
    padding-top: 50px;
}

.top__slider{
    height: 440px;
}

.top__slider div{
    float: left;
}

.top__content{
    text-align: center;
    padding-top: 30px;
    width: 50%;
}

.top__title{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin: 0 auto 20px;
    max-width: 455px;
}

.top__text{
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 50px;
    max-width: 470px;
}

.application{
    text-transform: uppercase;
    color: #fefefe;
    background: #c5ac2d;
    padding: 16px 19px 15px;
    transition: all .5s;
    border: 1px solid transparent;
}

.application:hover{
    color: #c5ac2d;
    background: #fefefe;
    border: 1px solid #c5ac2d;
}

.top__photo{
    width: 50%;
}

.top__photo-images{
    width: 100%;
}

.top__heading .slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots{
    list-style: none;
    text-align: center;
}

.slick-dots li{
    display: inline;
    padding: 0 10px;
}

.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #332208;
    border: none;
    border-radius: 50%;
    padding: 0;
}

.slick-active button{
    width: 18px;
    height: 18px;
}